.navbar {
  display: block;
  width: auto;
  height: 150px;
}

.navbar ul {
  float: left;
  list-style: none;
  padding: 5px 10px;
  margin: 10px 5px;
  border: 1px solid;
  border-radius: 15px;
  background-color: lightgray;
}

.navbar ul:hover {
  background-color: rgb(243, 243, 243);
}

.container {
  margin: 10px 5px;
}

.button {
  border: 1px solid;
  border-radius: 15px;
  background-color: lightgray;
  margin: 10px;
  padding: 5px 10px;
}

.button:hover {
  background-color: rgb(243, 243, 243);
}
